.profile-wrapper {
	padding: 10px;
}

.header {
	font-size: 1.2rem;
}

.email-display {
	color:  #A9A9A9;
}

.user-auth-style {
	border-radius: 2px;
	padding: 5px;
	background-color: #F5F5F5;
	margin-left: 3px;
}

.custom-size {
	max-width: 8rem;
}


