.card {
	width: 25rem;
}

.card:hover {
	box-shadow:  5px 10px 20px 1px rgba(0,0,0,.253) !important;
}

.container-fluid .row {
	padding-top: 6rem;
}

.overflow {
	overflow: hidden;
}
.card-img-top {
	transform: scale(1);
	transition: transform 0.3s ease;
}

.card-img-top:hover {
	transform: scale(1.1);
}

.bttn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--add--card {
    background-color: #505050;
    color: #fff;
    border: none;
}

.btn--small {
    padding: .6rem 2.5rem;
    font-size: .8rem;
}
